html, body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px; /* Пример: высота footer + отступ */
}

.popup-img {
  width: 120px;
  border-radius: 4px;
}

/* Стили для скругления и тени генплана */
.overlay-shadow img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Мягкая тень */
}

/* Стили для header */
header {
  background-color: #666; /* Серый фон */
  color: #333;          /* Темно-серый текст */
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #333; /* Темно-серый текст */
  text-decoration: none;
  margin: 0 10px;
}

/* Стили для footer */
footer {
  background-color: #666; /* Серый фон */
  color: #333;          /* Темно-серый текст */
  text-align: center;
  padding: 10px 0;
  position: relative; /* или static */
  bottom: auto;
  width: 100%;
  z-index: 1000; /* Убедитесь, что футер поверх карты */
}
